@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body.ListPage span {
  cursor: pointer;
}

body {
  background: #fff;
}

.success {
  color: #5cb85c;
  font-weight: bold;
}

.failure {
  color: #d9534f;
  font-weight: bold;
}

.pure-menu a {
  color: #777;
  width: auto;
}

.deleting {
  opacity: 0.5;
}

#wrap {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#pad {
  height: 100%;
}

body.EditPage {
  overflow: hidden;
}

body#pad textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border: 0;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  font-size: 1em;
  font-family: "Lucida Console", Monaco, monospace;
}

body#pad.HasDotInName textarea {
  font-family: "Lucida Console", Monaco, monospace;
}

div#rendered ul,
div#rendered ol {
  padding-left: 2em;
  line-height: 1.1;
}

div#rendered img {
  border-radius: 8px;
}

li.tools-menu {
  margin-right: 1em;
}

li.pure-menu-selected {
  background-color: #eeeeee;
}

.pure-menu-selected a {
  border-bottom: 2px solid #6c757d;
}

.pure-menu-link {
  color: black !important;
}

div.pure-menu-horizontal {
  background-color: lightgrey;
  height: 2.75em;
  padding-left: 1em;
  font-family: 'Montserrat', sans-serif;
  width: auto;

  display: flex;
  flex-direction: row;
}

div.pure-menu-horizontal hr {
  margin: unset;
}

div.pure-menu-horizontal ul {
  padding: unset;
}

div.pure-menu-horizontal ul.pure-menu-children {
  width: auto;
  border: grey;
  border-style: solid;
  border-top-style: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

ul.pure-menu-list {
  margin-bottom: 0;
}

@media (max-width: 600px) {
  /* Add bottom padding on mobile to allow scrolling past bottom */
  div#rendered {
    padding-bottom: 50vh;
  }

  body#pad textarea {
    padding-bottom: 50vh;
  }
}

/* Touch device edit page: simplified fixed toolbar layout */
@media (pointer: coarse) {
  /* Hide the main menu on touch edit pages - toolbar provides exit */
  body.EditPage div#menu {
    display: none;
  }

  /* Position wrap below the fixed toolbar */
  body.EditPage div#wrap {
    top: 50px; /* toolbar height */
  }
}

@media (min-width: 5em) {

  div#rendered,
  body#pad textarea {
    padding-left: 2%;
    padding-right: 2%;
  }

  /* .pure-menu .pure-menu-horizontal {
    max-width: 300px;
  } */

  .pure-menu-disabled,
  .pure-menu-heading,
  .pure-menu-link {
    padding-left: 1.2em;
    padding-right: 1.2em;
  }
}

/*
@media (min-width: 50em) {

  div#rendered,
  body#pad textarea {
    padding-left: 10%;
    padding-right: 10%;
  }

  .pure-menu-disabled,
  .pure-menu-heading,
  .pure-menu-link {
    padding: 0.5em 1em;
  }
}
*/
@media (min-width: 70em) {

  div#rendered,
  body#pad textarea {
    padding-left: 15%;
    padding-right: 15%;
  }
}

@media (min-width: 100em) {

  div#rendered,
  body#pad textarea {
    padding-left: 20%;
    padding-right: 20%;
  }
}

/*---- Nested Sub-menus ----*/
/* Sub-menu items that have children */
.pure-menu-children .pure-menu-has-children {
  position: relative;
}

/* Arrow indicator for sub-menu items */
.pure-menu-children .pure-menu-has-children > .pure-menu-link::after {
  content: '\f054'; /* FontAwesome chevron-right */
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  font-size: 0.7em;
  margin-left: 0.5em;
  opacity: 0.6;
}

/* Nested sub-menu container - appears to the right */
.pure-menu-children .pure-menu-children {
  position: absolute;
  left: 100%;
  top: 0;
  display: none;
  min-width: 150px;
  background: white;
  border: grey;
  border-style: solid;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
  z-index: 100;
}

/* Show nested sub-menu on hover (desktop) */
.pure-menu-children .pure-menu-has-children:hover > .pure-menu-children {
  display: block;
}

/* Show nested sub-menu when toggled open (touch/click) */
.pure-menu-children .pure-menu-has-children.submenu-open > .pure-menu-children {
  display: block;
}

/* Ensure proper stacking */
.pure-menu-has-children {
  position: relative;
}

/* Mobile: position sub-menu below parent instead of to the right */
@media (max-width: 600px) {
  .pure-menu-children .pure-menu-children {
    position: relative;
    left: 0;
    top: 0;
    margin-left: 1em;
    border: none;
    box-shadow: none;
    background: transparent;
  }

  .pure-menu-children .pure-menu-has-children > .pure-menu-link::after {
    content: '\f078'; /* FontAwesome chevron-down */
  }

  .pure-menu-children .pure-menu-has-children.submenu-open > .pure-menu-link::after {
    content: '\f077'; /* FontAwesome chevron-up */
  }
}

/*---- Components ----*/
wiki-search#site-search {
  margin: auto;
  margin-right: .35em;
}