<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/static/manifest.json">

        <link rel="stylesheet" href="/static/vendor/css/fontawesome.min.css">
        <link rel="stylesheet" href="/static/vendor/css/solid.min.css">
        <link rel="stylesheet" href="/static/vendor/css/dropzone.css">
        <link rel="stylesheet" href="/static/vendor/css/github-markdown.css">
        <link rel="stylesheet" href="/static/vendor/css/menus-min.css">
        <link rel="stylesheet" href="/static/vendor/css/base-min.css">
        <link rel="stylesheet" href="/static/vendor/css/highlight.css">

        <meta name="theme-color" content="#fff">

        {{ if and .CustomCSS .ReadPage }}
            <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
        {{ else }}
            <link rel="stylesheet" type="text/css" href="/static/css/default.css">
        {{ end }}

        <script src="/static/vendor/js/jquery.min.js"></script>
        <script src="/static/vendor/js/highlight.min.js"></script>
        <script src="/static/vendor/js/highlight.pack.js"></script>
        <script src="/static/vendor/js/dropzone.js"></script>

        <script type="module" src="/static/js/dist/web-components.js"></script>

        <title>{{ .Page }}</title>

        <script type='text/javascript'>
            hljs.initHighlightingOnLoad();
            window.simple_wiki = {
                debounceMS: {{ .Debounce }},
                lastFetch: {{ .UnixTime }},
                pageName: "{{ .Page }}",
            }
        </script>
        <script type="text/javascript" src="/static/js/simple_wiki.js"></script>
    </head>
    <body id="pad" class="
        {{ if .EditPage }} EditPage {{ end }}
        {{ if .ViewPage }} ViewPage {{ end }}
        {{ if .ReadPage }} ReadPage {{ end }}
        {{ if .DontKnowPage }} DontKnowPage {{ end }}
        {{ if .DirectoryPage }} DirectoryPage {{ end }}
        {{ if .HasDotInName }} HasDotInName {{ end }}
    ">
        <article class="markdown-body">

            {{ if .ReadPage  }}
                <!-- No menu for read page -->
            {{ else }}
                <div class="pure-menu pure-menu-horizontal" id="menu">
                    <ul class="pure-menu-list">
                        <li class="tools-menu pure-menu-item pure-menu-allow-hover">
                            <a href="#" id="tools-menu" class="pure-menu-link"><i class="fa-solid fa-bars"></i></a>
                            <ul class="pure-menu-children">
                                <li class="pure-menu-item"><a href="/" class="pure-menu-link"><i class="fa-solid fa-home"></i> Home</a></li>
                                <hr>
                                {{ if .ViewPage }}
                                <li class="pure-menu-item"><a href="/{{ .Page }}/edit" class="pure-menu-link"><i class="fas fa-pen-to-square"></i> Edit</a></li>
                                {{ end }}
                                {{ if .EditPage }}
                                <li class="pure-menu-item"><a href="/{{ .Page }}/view" class="pure-menu-link"><i class="fas fa-eye"></i> View</a></li>
                                {{ end }}
                                <hr id="utilityMenuSection">
                                {{ if not .EditPage }}
                                <li class="pure-menu-item"><a href="#" class="pure-menu-link" id="editFrontmatter"><i class="fas fa-file-lines"></i> Edit Frontmatter</a></li>
                                <hr>
                                {{ end }}
                                <li class="pure-menu-item"><a href="#" class="pure-menu-link" id="erasePage"><i class="fas fa-recycle"></i> Erase</a></li>
                            </ul>
                        </li>
                    </ul>
                    {{ if .ViewPage }}
                    <wiki-search id="site-search"></wiki-search>
                    {{ end }}
                </div>
            {{ end }}

            {{ if .EditPage }}
            <editor-toolbar id="editor-toolbar"></editor-toolbar>
            {{ end }}

            <div id="wrap">
                {{ if .EditPage }}

                    <div id="pad">

                        <script>
                            Dropzone.options.userInputForm = {
                                clickable: false,
                                maxFilesize: {{ if .MaxUploadMB }} {{.MaxUploadMB}} {{ else }} 10 {{end }}, // MB
                                init: function initDropzone() {
                                    this.on("complete", onUploadFinished);
                                }
                            };
                        </script>

                        <form
                            id="userInputForm"
                            action="/uploads"
                            {{ if .AllowFileUploads }}
                            class="dropzone"
                            {{ end }}
                        >
                            <textarea
                                autofocus
                                placeholder="Use markdown here."
                                autocapitalize="none"
                                id="userInput"
                            >{{ .RawPage }}</textarea>
                        </form>
                    </div>
                {{ end }}

                <div id="rendered">
                    {{ if .DontKnowPage }}
                        <strong>
                            <center>
                                {{ .Route }} not understood!
                            </center>
                        </strong>
                    {{ end }}

                    {{ if .ViewPage }}
                        {{ .RenderedPage }}
                    {{ end }}

                    {{ if .ReadPage }}
                        {{ .RenderedPage }}
                    {{ end }}


                    {{ if .DirectoryPage }}
                        <table style="width:100%">
                          {{ $upload := .UploadPage }}
                          <tr>
                            <th>Document</th>
                            <th>Current size</th>
                            <th>Last Edited</th>
                          </tr>
                          {{range .DirectoryEntries}}
                          <tr>
                            <td>
                                {{ if $upload }}
                                <a href="/uploads/{{ .Name }}">{{ sniffContentType .Name }}</a>
                                {{ else }}
                                <a href="/{{ .Name }}/view">{{ .Name }}</a>
                                {{ end }}
                            </td>
                            <td>{{.Size}}</td>
                            <td>{{.ModTime.Format "Mon Jan 2 15:04:05 MST 2006" }}</td>
                          </tr>
                          {{ end }}
                        </table>
                    {{ end }}
                </div>
            </div>
        </article>
        {{ if not .EditPage }}
        <system-info></system-info>
        {{ end }}
        <frontmatter-editor-dialog id="frontmatter-dialog"></frontmatter-editor-dialog>
        <inventory-add-item-dialog id="inventory-add-dialog"></inventory-add-item-dialog>
        <inventory-move-item-dialog id="inventory-move-dialog"></inventory-move-item-dialog>
        <inventory-find-item-dialog id="inventory-find-dialog"></inventory-find-item-dialog>
        {{ if .EditPage }}
        <editor-context-menu id="editor-context-menu"></editor-context-menu>
        {{ end }}
    </body>
</html>
