name: Release

on:
  release:
    types: [created]
  push:
    branches: [master]
  pull_request:
    branches: [master]
    
jobs:
    build:
        name: Build and Release Go Binary
        runs-on: ubuntu-latest
        strategy:
            matrix:
                goos: [linux]
                goarch: [amd64]
        steps:
            - name: Check out code
              uses: actions/checkout@v4

            - name: Set up Go
              uses: actions/setup-go@v4
              with:
                go-version: 1.21

            - uses: awalsh128/cache-apt-pkgs-action@latest
              with:
                packages: gcc-multilib build-essential
                version: 3

            - name: Build Go Binary
              run: |
                export GOOS=${{ matrix.goos }}
                export GOARCH=${{ matrix.goarch }}
                export CGO_ENABLED=1
                go build -v -o simple_wiki-${{ matrix.goos }}-${{ matrix.goarch }}${{ matrix.goos == 'windows' && '.exe' || '' }}

            - name: Upload Action Artifact
              uses: actions/upload-artifact@v4
              with:
                name: simple_wiki-${{ matrix.goos }}-${{ matrix.goarch }}${{ matrix.goos == 'windows' && '.exe' || '' }}
                path: ./simple_wiki-${{ matrix.goos }}-${{ matrix.goarch }}${{ matrix.goos == 'windows' && '.exe' || '' }}

            - name: Upload Release Asset
              if: github.event_name == 'release'
              uses: AButler/upload-release-assets@v3.0
              with:
                files: "./simple_wiki-${{ matrix.goos }}-${{ matrix.goarch }}${{ matrix.goos == 'windows' && '.exe' || '' }}"
                repo-token: ${{ secrets.GITHUB_TOKEN }}